################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LearningLINQ/bin/Debug
/LearningLINQ/obj/Debug
/LinqQueries/bin/Debug
/LinqQueries/obj/Debug
/CSharp6.0/bin/Debug
/CSharp6.0/obj/Debug
/CSharp6.0UnitTesting/obj/Debug
*.scgdat
*.scgdat
/PeopleViewer/bin/Debug
/PeopleViewer/obj/Debug
/PersonLibrary/obj/Debug
/Polygons/bin/Debug
/Polygons/obj/Debug
/RegularPloygons/obj/Debug
/Strings/bin/Debug
/Strings/obj/Debug
/Constructors/bin/Debug
/Constructors/obj/Debug
/LINQRepeat/bin/Debug
/LINQRepeat/obj/Debug
/.vs
/CustomExceptions/bin/Debug
/CustomExceptions/obj/Debug
/LINQOperators/bin/Debug
/LINQOperators/obj/Debug
/ParallelExecution/bin/Debug
/ParallelExecution/obj/Debug
/PigLatin/bin/Debug
/PigLatin/obj/Debug
/MbUnitLearning/bin/Debug
/MbUnitLearning/obj/Debug
/packages/mbunit.3.4.14.0
/Tuple/bin/Debug
/Tuple/obj/Debug
/ExplicitIntefaces/bin/Debug
/ExplicitIntefaces/obj/Debug
/Library/obj/Debug
/OutputViewer/bin/Debug
/OutputViewer/obj/Debug
/packages/EntityFramework.5.0.0
/PeolpleRepository.SQL/obj/Debug
/PeopleViewer.Basic/bin/Debug
/PeopleViewer.Basic/obj/Debug
/PersonRepository.CSV/obj/Debug
/PersonRepository.Interface/bin/Debug
/PersonRepository.Interface/obj/Debug
/PersonRepository.Service/bin/Debug
/PersonRepository.Service/obj/Debug
/PeopleViewer.Layered/bin/Debug
/PeopleViewer.Layered/obj/Debug
/PeopleViewer.Test/bin/Debug
/PeopleViewer.Test/obj/Debug
/PersonRepository.Fake/obj/Debug
