################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LearningLINQ/bin/Debug
/LearningLINQ/obj/Debug
/LinqQueries/bin/Debug
/LinqQueries/obj/Debug
/CSharp6.0/bin/Debug
/CSharp6.0/obj/Debug
/CSharp6.0UnitTesting/obj/Debug
*.scgdat
