################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LearningLINQ/bin/Debug
/LearningLINQ/obj/Debug
/LinqQueries/bin/Debug
/LinqQueries/obj/Debug
